.App {
  text-align: center;
  background-color: #ffffff;
}

.Header {
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  height: 30px;
  padding-bottom: 20px;
}

.Main {
  flex-grow: 1;
  padding: 20px;
}

.Footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.LogoHeader{
  position: absolute;
  left: 20%;
  
}

.button{
  position: relative;
  float: inline-start;
  padding-inline-start: 100px;
  left: 40%;
}

.buttons-header{
  padding: auto;
}